<!DOCTYPE html>
<html>
<head>
	<title>Google Login</title>
	<style type="text/css">
		#login{
			display: inline-block;
			border: 3px solid green;
			padding: 40px;
			margin-top: 20%;
			text-align: center;
		}

	</style>
</head>
<body style="text-align: center;">
	<div id="login">
		<div id="logo">
			<img src="" alt="logo">
		</div>
		<div id="details">
			<form>
				<DIV>
					<input type="text" name="email">	
				</DIV>
				<div>
					<input type="password" name="passwd">	
				</div>
				
			</form>
		</div>
	</div>
</body>
</html>